.destinations__container {
  padding: 35px 43px;

  @media screen and (min-width: 1440px) {
    padding: 35px 43px 186px 43px;
  }
}

.destinations__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
  }
}
.destinations__listItem:not(:last-child) {
  @media screen and (min-width: 1440px) {
    margin-right: 35px;
  }
}

.destinations__listItem {
  position: relative;
  display: block;
  width: 315px;
  height: 461px;
  border-radius: 24px;
  box-shadow: 1px -1px 14px -3px rgb(0 0 0 / 25%);
  margin-bottom: 40px;
}
.destination__link {
  display: block;
  border-radius: 24px;
  &:hover,
  &:focus,
  &:active {
    box-shadow: 0px 8px 4px rgb(0 0 0 / 25%);
  }
}

.destinations__decor {
  position: absolute;
  right: -66px;
  top: 150px;
  z-index: -1;
}
.destinations__image {
  display: block;
  border-radius: 24px;
}

.destinations__preview {
  text-align: center;
  margin-bottom: 8px;
  color: $primaryGreyColor;
  font-size: 18px;
  font-weight: 600;
}
.destinations__header {
  margin-top: 30px;
  text-align: center;
  font-family: $headingFont;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.3;
  color: $accentDarkBlueColor;
  margin-bottom: 60px;
  @media screen and (min-width: 1440px) {
    font-size: 50px;
    margin-bottom: 60px;
  }
}

.destinations__textWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}
.destinations__textOverlap {
  position: absolute;
  background-color: $accentWhiteColor;
  padding-top: 28px;
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 25px;
  border-radius: 0px 0px 24px 24px;

  font-size: 18px;
  line-height: 1.24;
  color: $primaryGreyColor;
  width: 100%;
  height: 130px;
  bottom: 0%;
}

.destinations__durationWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.destinations__svg {
  margin-right: 14px;
}
.destinations__duration {
  font-size: 16px;
}
