.footer__container {
  padding-top: 166px;
  padding-bottom: 79px;
}
.footer__flex {
  display: flex;
}
.equal-columns > * {
  flex: 1;
}
.footer__logoWrapper {
  width: 207px;
  margin-right: 83px;
}
.footer__logo {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.5;
  text-align: left;

  color: $headerBlueColor;
}
.logo__text {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.25;
  text-align: left;

  color: $primaryGreyColor;
  margin-top: 19px;
}
.footer__list {
  padding-top: 20px;
  max-width: 115px;
}
.footer__listTitle {
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.25;
  text-align: left;
  letter-spacing: 0.5%;
  color: $primaryBlackColor;
  margin-bottom: 34px;
}
.footer__item {
  width: 115px;
}
.footer__item:not(:last-child) {
  margin-bottom: 14px;
}
.footer__link {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  text-align: left;
  letter-spacing: 0.5%;
  color: $primaryGreyColor;
}
.svg__list {
  display: flex;
  margin-bottom: 30px;
  padding-top: 20px;
}
.svg__item {
  margin-right: 25px;
}
.svg__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 1px rgb(0 0 0 / 25%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $accentWhiteColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover .svg__socials,
  &:focus .svg__socials {
    fill: $accentWhiteColor;
  }

  &:hover,
  &:focus {
    background: conic-gradient(
        at 40% 23px,
        #b8d2f1 0%,
        #f289aa 16.67%,
        #c68bf0 29.47%,
        #d164da 42.71%,
        #c963e8 61.46%,
        #bfc2e8 71.88%,
        #ffc999 80.21%,
        #d0d8c9 87.5%,
        #bad0f1 92.81%,
        #ced8cb 99.71%
      )
      rgba(255, 255, 255, 0) 100%;
  }
}

.btn__title {
  margin-bottom: 16px;
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  text-align: left;
  letter-spacing: 0.5%;
  color: $primaryGreyColor;
}

.btn__List {
  display: flex;
}
.btn__item:not(:last-child) {
  margin-right: 7px;
}
.footer__socials {
  margin-left: 82px;
}
.footer__list_left {
  margin-right: 72px;
}
.footer__list_middle {
  margin-right: 91px;
}
.footer__text {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  margin-top: 86px;
}
