.hero__container {
  padding: 20px 18px 97px 18px;
  display: flex;
  align-items: stretch;
}

.hero__text {
  padding-top: 110px;
  min-width: 590px;
}
.hero__preview {
  font-family: $primaryFont;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $accentRedColor;
  margin-bottom: 24px;
}
.hero__title {
  font-family: $headingFont;
  font-weight: 700;
  font-size: 84px;
  line-height: 1.05;
  text-align: left;
  margin-bottom: 30px;
  color: $headerBlueColor;
}
.hero__description {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.85;
  width: 90%;
  margin-bottom: 34px;
}
.hero__btnWrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.hero__btn {
  padding: 19px 27px;
  background-color: #f1a501;
  color: $accentWhiteColor;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  margin-right: 44px;
  line-height: 1.27;
  font-family: $accentFont;
}

.playBtn__link {
  margin-left: 21px;
  display: flex;
  font-family: $primaryFont;
  font-size: 17px;
  line-height: 1.56;
  color: $accentGreyBtnColor;
}

.playBtn__image {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.hero__image {
  position: relative;
}

.hero__planeImage {
  position: absolute;
}

.hero__planeImage_left {
  left: 0px;
  top: 57px;
  animation: left_plane 3s linear infinite normal 0s running forwards;
}

.hero__planeImage_left:hover,
.hero__planeImage_left:focus {
  animation-play-state: paused;
}

.hero__planeImage_left:active {
}
.hero__planeImage_right {
  right: -42px;
  top: 133px;
  z-index: -1;
}
.hero__mainImage {
  display: block;
}

.circle {
  position: relative;
  width: 52px;
  height: 52px;
  background: $accentRedColor;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.circle::after {
  content: "";
  width: 0;
  height: 0;
  right: 32%;
  top: 36%;
  position: absolute;
  border-top: 7px solid rgba(0, 0, 0, 0);
  border-left: 13px solid $accentWhiteColor;
  border-bottom: 7px solid rgba(0, 0, 0, 0);
}

// /*-- Animation  --*/
// .hero__planeImage_left {
//   animation-name: left_plane;
//   animation-duration: 3s;
//   animation-timing-function: linear;
//   animation-iteration-count: 1;
//   animation-direction: normal;
//   animation-play-state: running;
//   animation-delay: 0s;
//   animation-fill-mode: none;
//   left_plane 3s linear infinite normal running 0s forwards;
// }
@keyframes left_plane {
  0% {
    left: 0%;
    top: 57px;
    transform: rotate(10deg);
    /* css свойства */
  }
  20% {
    left: 50%;
    top: -25px;
    transform: rotate(30deg);
  }

  100% {
    left: 100%;
    top: 57px;
    /* css свойства */
  }
}
