.subscription__container {
  padding: 79px 5px 38px 5px;
  border-radius: 129px 20px 20px 20px;
  background-color: rgba(223, 215, 249, 0.2);
  position: relative;
  @media screen and (min-width: 1440px) {
    padding: 79px 5px 78px 5px;
    border-radius: 129px 20px 20px 20px;
    background-color: rgba(223, 215, 249, 0.2);
    position: relative;
  }
}
.subscription__div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, #747def 0%, #5e3be1 100%);
  position: absolute;
  top: -12px;
  right: -1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: 1440px) {
    top: -12px;
    right: -21px;
  }
}

.subscription__circleLeft {
  position: absolute;
  bottom: 0;
  z-index: -1;
  opacity: 20%;
  @media screen and (min-width: 1440px) {
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 20%;
  }
}
.subscription__circleRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 20%;
  @media screen and (min-width: 1440px) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    opacity: 20%;
  }
}

.subscription__title {
  font-weight: 600;
  font-size: 27px;
  line-height: 1.63;
  text-align: center;
  color: $primaryGreyColor;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  @media screen and (min-width: 1440px) {
    font-size: 33px;
    max-width: 859px;
    margin-bottom: 74px;
  }
}
.subscription__form {
  text-align: center;
}
.subscription__label {
  position: relative;
}
.subscription__input {
  font-family: $inputFont;
  font-size: 14px;
  line-height: 1.2;
  height: 68px;
  width: 421px;
  padding: 10px 10px 10px 66px;
  border-radius: 10px;
  border: none;
  outline: transparent;
  background-color: $accentWhiteColor;
  color: $accentInputGreyColor;
  @media screen and (min-width: 1440px) {
    padding: 10px 10px 10px 66px;

    //  font-family: $inputFont;
    //  font-size: 14px;
    //  line-height: 1.2;
    //  height: 68px;
    //  width: 421px;
    //  border-radius: 10px;
    //  border: none;
    //  outline: transparent;
    //  background-color: $accentWhiteColor;
    //  color: $accentInputGreyColor;
  }
}

.subscription__input::placeholder {
  margin-right: 14px;
  font-family: $inputFont;
  font-size: 14px;
  line-height: 1.2;
  @media screen and (min-width: 1440px) {
    margin-right: 14px;
    font-family: $inputFont;
    font-size: 14px;
    line-height: 1.2;
  }
}

.subscription__submit {
  margin-top: 20px;
  height: 68px;
  width: 180px;
  padding: 22px 50px;
  border-radius: 10px;
  border: none;
  outline: transparent;
  background-color: #ff946d;
  color: $accentWhiteColor;

  @media screen and (min-width: 1440px) {
    //  height: 68px;
    //  width: 180px;
    //  padding: 22px 50px;

    margin-left: 24px;
  }
}
.subscription__svg {
  position: absolute;
  top: 3px;
  left: 35px;
  @media screen and (min-width: 1440px) {
  }
}
.subscription__plusImage {
  position: absolute;
  bottom: -61px;
  right: -7px;
  @media screen and (min-width: 1440px) {
    //  position: absolute;
    bottom: -68px;
    right: -98px;
  }
}
