$primaryFont: Poppins;
$accentFont: "Open Sans";
$inputFont: Montserrat;
$headingFont: Volkhov;

$primaryBlackColor: #080809;
$headerBlueColor: #181e4b;
$primaryGreyColor: #5e6282;
$accentGreyColor: #84829a;
$accentDarkBlueColor: #14183e;
$accentBlueColor: #1e1d4c;
$accentGreyBtnColor: #686d77;
$accentWhiteColor: #ffffff;
$accentRedColor: #df6951;
$decorYellowColor: #f0bb1f;
$decorRedColor: #f15a2b;
$decorBlueColor: #006380;
$accentBlackColor: #212832;
$accentVioletColor: #8a79df;
$accentGreyBarColor: #e5e5e5;
$accentInputGreyColor: #39425d;

$accentBgndColor: #245852;
$primaryBgndColor: #e5e5e5;
$dividerColor: #d6d6d6;

$indent: 38px;
$items: 4;
$indentDestination: 35px;
$itemsDestination: 3;
$indentDestination: 35px;
$itemsLogo: 2;
$indentLogo: 50px;
